* {
    margin: 0;
    padding: 0;
}

/* INDEX BEGIN */

.indexfirstpart {
    background-image: url(./backgroundbabynew.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: space;
    background-position: center;
    height: 100vh;
}

.indexopacitybluelayer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.indexbluelayercontent {
    background: linear-gradient(180deg, rgba(84, 217, 213, 0.35) 0%, #0B2C2B 100%);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
}

.indexcontainerpart {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.indexlogo {

    size: 8rem;
    margin-bottom: 10rem;
}

#indexwelcome {
    font-family: 'DM Sans';
    font-weight: lighter;
    font-size: 39px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

#indexsentencescontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans';
    font-size: 30px;
    font-weight: 1px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;


}

#indexbutton {
    box-shadow: 0px 4px 10px 0px #0000001A;
    width: 232px;
    height: 68px;
    top: 519px;
    left: 581px;
    border-radius: 22px;
    color: #735EBB;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}

#indexloginsentence {
    font-family: 'DM Sans';
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    left: 100px;
    top: 300px;
    font-weight: lighter;
}

#indexloginlink {
    font-family: 'DM Sans';
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bolder;
}

/* INDEX END */




/* REGISTER BEGIN */
.registercontentpart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    column-gap: 28px;
    row-gap: 28px;
    max-width: 900px;
    padding: 80px 20px;
    margin: auto;
   
}

.registertitle {
    font-family: 'DM Sans';
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #8D75E0;
    column-gap: 47px;
}

.registerlabel {
    color: #173627;
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;

}

.registerinput {
    width: 343px;
    height: 44px;
    border-radius: 12px;
    border: 2px;
    border-color: #E6E6E6;
    border-style: solid;

}

.registerposition {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 100px;
    align-items: baseline;
}

.registerpasswordvalidation {
    font-family: 'DM Sans';
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.registerpasswordvalidation ul {
    list-style: none;
}

.registerchidgenderbutton {
    width: 65px;
    height: 44px;
    top: 705px;
    left: 288px;
    padding: 0px 16px 0px 16px;
    border-radius: 8px;
    border: 1px;
    border-style: solid;
    gap: 10px;
    border-color: #E6E6E6;
    background-color: #FFFFFF;

}

.registernewchild {
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.registertermsofusetext {
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #826BD0;

}

.registerreadaccept {

    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #826BD0;

}

.registerbutton {
    width: 240px;
    height: 44px;
    top: 887px;
    left: 569px;
    padding: 10px 32px 10px 32px;
    border-radius: 22px;
    gap: 10px;
    background-color: #735EBB;
    color: #FFFFFF;
    border-style: hidden;

}

.w-50{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
}



/* REGISTER END */



/* LOGIN BEGIN */

.logincontentpart {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

#logintitle {
    font-family: 'DM Sans';
    font-size: 39px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #8D75E0;

}

.logincontentpositon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}



.loginlabel {
    font-family: 'DM Sans';
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #173627;
}

.logininput {
    width: 343px;
    height: 44px;
    border-radius: 12px;
    border: 2px;
    color: #E6E6E6;
    border-style: solid;
}

#loginforgetpasswordlink {
    text-decoration: none;
    color: #173627;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;


}

.loginsecondpart {
    text-align: center;
}

.loginthirdpart {

    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.loginbutton {
    width: 150px;
    height: Hug (44px);
    top: 591px;
    left: 607px;
    padding: 10px 32px 10px 32px;
    border-radius: 22px;
    gap: 10px;
    border-style: hidden;
    color: #FFFFFF;
    background-color: #735EBB;

}

/* LOGIN END */


/* PASSWORDRESET BEGIN */

.passwordresetcontentpart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.passwordresetcontentemail {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}



/* PASSWORDRESET END */

/* EMAILRESET */

.emailresetbody {
    background-color: #181C1E;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.emailresetcontent {
    background-color: #FFFFFF;
    width: 450px;
    height: 500px;
    top: 228px;
    left: 442px;
    border-radius: 22px;
    margin-top: 75px;
}

.emailresetposition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailreseterrorsentence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailresetbutton {
    width: 150px;
    height: Hug (44px);
    top: 591px;
    left: 607px;
    padding: 10px 32px 10px 32px;
    border-radius: 22px;
    gap: 10px;
    border-style: hidden;
    color: #FFFFFF;
    background-color: #735EBB
}


/* EMAILRESET */




/* EMAILRESETERROR BEGIN */

#emailreseterrortitle {
    font-family: 'DM Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC4F4F;

}

.emailreseterrorsentence {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    font-size: small;

}

/* EMAILRESETERROR END */



/* EMAILRESETSUCCESS BEGIN */

.emailresetbody {
    background-color: #181C1E;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.emailresetcontent {
    background-color: #FFFFFF;
    width: 450px;
    height: 500px;
    top: 228px;
    left: 442px;
    border-radius: 22px;
    margin-top: 75px;
}

.emailresetposition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emailresetsuccesstitle {
    font-family: 'DM Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #3CD77A;

}

.emailresetsuccesscontentsentences {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    font-size: small;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;

}


/* EMAILRESETSUCCESS END */





/* NEWPASSWORDRESET BEGIN */

#newpasswordresetcontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.passwordtitle {
    color: #8D75E0;
    font-family: 'DM Sans';
    font-size: 39px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
}

/* NEWPASSWORDRESETFIRSTCONTENT */
#newpasswordresetfirstcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}


.passwordlabel {
    color: #173627;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.passwordinput {
    width: 343px;
    height: 40px;
    border-radius: 12px;
    border: 1px;
    color: #E6E6E6;
    border-style: solid;
}

.passwordinput::placeholder {
    color: rgba(23, 54, 39, 0.5);
    opacity: 0.50;
}

/* NEWPASSWORDRESETFIRSTCONTENT */

/* NEWPASSWORDRESETSECONDCONTENT */


#newpasswordresetsecondcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}


#newpasswordresetagaininput :placeholder {
    color: #17362780;
    opacity: 50px;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

/* NEWPASSWORDRESETSECONDCONTENT */


/* NEWPASSWORDRESETSECONDPART */

.passwordbutton {

    color: #FFFFFF;
    width: Fixed (171px);
    height: Hug (44px);
    top: 662px;
    left: 634px;
    padding: 10px 32px 10px 32px;
    border-radius: 22px;
    gap: 10px;
    opacity: 0.4000000059604645px;
    border-style: hidden;
    background-color: #735EBB;
}


/* NEWPASSWORDRESETSECONDPART */

/* NEWPASSWORDRESET END */