@media(min-width:768px) {
    html {

        font-size: 16px;
    }
}

body {
    margin: 0;
}

html {
    font-size: 12px;
}

.container {
    height: 100vh;
    background-size: cover;
    background-image: url(backgroundbaby.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


}

.bluelayer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kidokitlogo {
    fill: white;
    size: 8rem;
    margin-top: -47;
}

.layer {
    background: linear-gradient(180deg, rgba(84, 217, 213, 0.35) 0%, #0B2C2B 100%);
    height: 100vh;
    background-size: cover;
    z-index: 0;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.content {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;


}

.sentences {
    font-family: 'DM Sans';
    font-size: 2rem;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

/* .buttonKayit{
    padding: 100px 100px 100px 100px;
} */

.buttonKayit button {
    background-color: #FFFFFF;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 40px;
    color: #735EBB;
    border: 0;
}

.buttonKayit a {
    text-decoration: none;
}

.hesapVarmi {
    font-family: 'DM Sans';
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    left: 100px;
    top: 300px;
    font-weight: lighter;
}

.giris {
    font-family: 'DM Sans';
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bolder;
}

/* .flex-container {
    display: flex;
}

.kayitolfirstpart {
    display: flex;
} */

.kayitolsecondpart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: baseline;
}